    <html>
        <head>
            <title>I'M ENOT YOU R NOT</title>
        </head>
        <body>
            <div>
                <h1><a href="">Enot's Blog</a></h1>
            </div>

            <div>
                <p>published: 29.05.2016, 17:17</p>
                <h2><a href="">Первая запись</a></h2>
                <p>Завтра на работу. От этого хочется плакать. Конец.</p>
            </div>

            <div>
                <p>published: 29.05.2016, 17:20</p>
                <h2><a href="">Вторая запись</a></h2>
                <p>Бла-бла-бла.</p>
            </div>
        </body>
    </html>